@import '../../SCSS-utils/variables';
@import '../../SCSS-utils/mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 18rem;
  height: 16rem;
  background-color: $background-secondary;
  border-radius: 2rem;
  font-size: 20px;

  @include onMobile {
    height: 14rem;
  }

  &--active {
    border: 5px solid $background-button;
  }

  & :not(:last-child) {
    margin-bottom: 10px;
  }

  & :nth-child(3n) {
    margin-bottom: 25px;
  }

  &__button {
    padding: 10px 2rem;
    color: #fff;
    background-color: $background-button;
    border-color: transparent;
    border-radius: 2rem;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
  
    &:active {
      transform: scale(0.95);
    }
  }
}
