@import '../../SCSS-utils/variables';

.cards {
  position: relative;
  z-index: 2;
  display: flex;  
  justify-content: center;
  min-height: 536px;
  transition: 0.3s;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 60%;
    list-style: none;
  }

}