@import '../../SCSS-utils/mixins';

.cards {
  position: relative;
  z-index: 2;
  display: flex;  
  justify-content: center;
  transition: 0.3s;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 60%;
    list-style: none;

    @include onTablet {
      width: auto;
      max-width: 900px;
    }

    @include onMobile {
      width: 50%;
      max-width: 900px;
    }

    &--narrow {
      width: 50%;
    }
  }

  &--selected {
    z-index: 1;
    width: 100%;
    transform: translateX(-30%) scale(0.8);
  }
}