@import '../../SCSS-utils/variables';

.user-posts {
  &__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 2rem 7rem;
    overflow-y: auto;
    box-sizing: border-box;
    width: 55%;
    list-style: none;
    background-color: $background-secondary;
    border-radius: 2rem;
    transition: 0.3s;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}