@import './SCSS-utils/variables';
@import './SCSS-utils/mixins';

.App {
  display: flex;
  justify-content: center;
  background-color: $background-main;
  color: #fff;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1280px;
    min-height: 100vh;
  }

  &__empty {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include onMobile {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem;

    @include onMobile {
      position: static;
    }
  }
}